<nav class="navbar navbar-expand-lg navbar-utp fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <i class="fa fa-tint"></i>
      <span class="ms-2">Consumo de Agua</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/meta" routerLinkActive="active">
            <i class="fa fa-bullseye"></i> Meta diaria
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/registro" routerLinkActive="active">
            <i class="fa fa-plus-circle"></i> Registrar consumo
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/resumen" routerLinkActive="active">
            <i class="fa fa-table"></i> Resumen
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>