<main class="acerca-container">
  <h2 class="acerca-title">Acerca de la aplicación</h2>
  <p class="acerca-desc">
    <strong>Consumo Agua App</strong> t
  </p>
  <ul class="acerca-list">
    <li>Establece metas diarias o semanales de consumo en litros.</li>
    <li>Registra cada uso de agua fácilmente.</li>
    <li>Visualiza tu progreso y consulta el historial de consumos.</li>
    <li>Optimiza el uso del recurso hídrico y toma mejores decisiones.</li>
    <li>Disponible en modo claro y modo oscuro para tu comodidad.</li>
  </ul>
  <p class="acerca-final">
    ¡Contribuye al ahorro de agua y cuida el planeta!
  </p>

</main>